<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Objective</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./about.html" title="">02 : About me</a></li>
          <li><a href="./contact.html" title="">03 : Contact</a></li>
          
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">01 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Background</h3>
                  <p>2019 graduate from NWOSU with a degree on Computer Science. Embarked on different career path vs the degree, later realized the job wasn't competent and
                     out of my interest thus started investing on re-learnig Python and self-learning cloud technology like AWS, Docker, and Kubernets.
                  </p>
                  <h3>Achivements </h3>
                  <p>Python Certified Entry-level Programmer.
                    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="71ae552b-313f-4731-8a82-1a9eef44ef64"
                     data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
                     <br>AWS Certified Solution Architect - Associate.
                     <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="a8fb6e84-b615-4ed7-8883-b8b319fb65cf" 
                     data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
                     <br>Microsoft Certified Azure Fundamentals.
                     <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="c4fc452d-80b0-425b-bed5-872741f628c7" data-share-badge-host="https://www.credly.com"></div><script 
                     type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
                     <br>NWOSU Magna Cum laude, Spring 2019
                  <h3>Interest</h3>
                  <p> I acknowledge the power of Programming and Cloud Computing in changing the future, hence I am longing to apply my knowledge and to 
                    acquire more knowledge on the field on Python programming and Cloud computing. 
                  </p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/profile.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>

script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
--> <script type="text/javascript" src="./main.70a66962.js"></script></body>

</html>